#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    background: linear-gradient(135deg, #004aad, #01397a);
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#sidebar.collapsed {
    margin-left: -264px;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
    text-align: center;
}

.sidebar-logo a {
    color: #fff;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sidebar-nav {
    flex: 1 1 auto;
}

.sidebar-header {
    color: #ffffff90;
    font-size: 0.85rem;
    padding: 1.5rem 1.5rem 0.375rem;
    font-weight: 600;
}

.sidebar-item {
    list-style: none;
}

a.sidebar-link {
    padding: 0.75rem 1.625rem;
    color: #ffffffdd;
    position: relative;
    transition: all 0.3s ease;
    display: block;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 8px;
    margin: 0.25rem 1rem;
}

a.sidebar-link:hover, a.sidebar-link.active {
    background-color: #0056b3;
    color: #fff;
    transform: translateX(5px);
    box-shadow: inset 5px 0 #00bfff;
}

a.sidebar-link:hover i, a.sidebar-link.active i {
    color: #00e0ff;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 0.15rem 0.15rem 0;
    content: '';
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all 0.2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
}

.sidebar-footer {
    padding: 1.25rem 1.5rem;
}

.sidebar-footer a {
    color: #ffffffdd;
    font-size: 1.1rem;
}

.sidebar-footer a:hover {
    color: #00e0ff;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: 0;
    }

    #sidebar.collapsed {
        margin-left: -264px !important;
    }
}

.text-menu {
    font-size: 15px ;
}
