<div class="page-container">
  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <div class="d-flex flex-row align-items-center justify-content-between mb-4 action-row">
        <div class="action-wrapper">
          <app-active-button
            [isLoading]="isLoading()"
            [hasSelected]="!!selectedItem()"
            (buttonClick)="handleButtonAction($event)">
          </app-active-button>
        </div>

        <app-search-input
          [searchTerm]="searchTerm()"
          [placeholder]="'Tìm kiếm hàng hóa...'"
          (search)="onSearchInputChange($event)"
          (clear)="clearSearch()">
        </app-search-input>
      </div>

      <app-table-data 
        [items]="items()" 
        [columns]="columns" 
        [selectedItem]="selectedItem()" 
        [isLoading]="isLoading()"
        [hasNextPage]="hasNextPage()" 
        [idField]="'id'" 
        [searchTerm]="searchTerm()"
        (selectItem)="onSelectItem($event)"
        (loadMore)="onLoadMore()">
      </app-table-data>
    </div>
  </div>
</div>