/* component.scss */
.position-relative {
    cursor: pointer;
    /* cả vùng click được */
}

.form-control {
    background-color: #fff;
    /* trắng, rõ ràng */
}

.form-control.pe-5 {
    padding-right: 2.5rem;
    /* đủ chừa chỗ cho icon */
}

