.navbar {
    padding: 1.15rem 1.5rem;
  }
  
  .toggler-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
  }
  
  .toggler-btn i {
    font-size: 1.75rem;
    color: #000;
    font-weight: 1000;
  }
  