<div class="modal-footer bg-light">
      <button type="button" class="btn btn-outline-secondary" [class.btn-sm]="size === 'small'" (click)="cancelClicked()">
        <i class="bi" [ngClass]="cancelIcon + 'me-1'"></i>
        <span class="ms-1">{{ cancelText }}</span>
      </button>
      <button [type]="submitType" class="btn btn-primary" [class.btn-sm]="size === 'small'" (click)="saveClicked()">
        <i class="bi" [ngClass]="isSaving ? savingIcon : saveIcon"></i>
        <span class="ms-1">{{ isSaving ? savingText : saveText }}</span>
      </button>
</div>