.modal-body-scrollable {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
}

.modal-body-scrollable::-webkit-scrollbar {
  width: 6px;
}

.modal-body-scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.modal-body-scrollable::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

.modal-body-scrollable::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}

.row {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}